<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExerciseSoftware.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3134859B1BF410C500D04B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313E8AAE1BF5A1C80043641F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31932C271BF5852B007B523F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31932C361BF58B4A007B523F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31932C411BF58B95007B523F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C6F3B01BF58E540010072B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
